{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">Student List</h2>

<table class="table table-bordered table-striped">
<thead class="table-dark">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Joined Date</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
{% for student in students %}
<tr>
    <td>{{ student.name }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.course }}</td>
    <td>{{ student.joined_date }}</td>
    <td>
    <a href="/edit/{{ student.id }}" class="btn btn-warning btn-sm">Edit</a>
    <a href="/delete/{{ student.id }}" class="btn btn-danger btn-sm"
    onclick="return confirm('Are you sure?')">Delete</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<a href="/add/" class="btn btn-success">Add New Student</a>

{% endblock %}
